<a href="https://colab.research.google.com/github/poorvjeet/poorvjeet/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#greater than
print(5<10)
print("kiwi"<"apple")

True
False

In [2]:
#lesser than
print(555>666)
print("dog">"cat")

False
True

In [3]:
#equal to
print(1010==1010)
print("rain"=="rain")

True
True

In [4]:
#not equal to
print(1010!=2020)
print("rain"!="snow")

True
True

In [5]:
my_string = "Python Is Powerfull language"

# Check for the presence of a substring using 'in'
print("Is 'Python' in the string?", "Python" in my_string)
print("Is 'Java' in the string?", "Java" in my_string)

# Check for the absence of a substring using 'not in'
print("Is 'Python' not in the string?", "Python" not in my_string)
print("Is 'Java' not in the string?", "Java" not in my_string)

Is 'Python' in the string? True
Is 'Java' in the string? False
Is 'Python' not in the string? False
Is 'Java' not in the string? True

In [7]:
list=['apple','banana','mango','pinapple']
for x in list:
    print(x)

apple
banana
mango
pinapple

In [15]:
for x in range(10, 0, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [18]:
my_string="Happy birthday!"

#slicing
print("original string:", my_string)
print("sliced string(2 to 5)", my_string[2:5])

original string: Happy birthday!
sliced string(2 to 5) ppy

In [20]:
#negative indexing
print("character at index-2:" , my_string[-2])

character at index-2: y

In [21]:
#converting uppercase
print("uppercase string:" , my_string.upper())

uppercase string: HAPPY BIRTHDAY!

In [23]:
#converting lowercase
print ("lowercase string:" , my_string.lower())

lowercase string: happy birthday!

In [25]:
#stripping string
print("stripped string:" , my_string.strip())

stripped string: Happy birthday!

In [26]:
#replacing string
print("replaced string:" , my_string.replace("birthday", "New Year"))

replaced string: Happy New Year!

In [27]:
#splitting the string
print("split string:" , my_string.split(" "))

split string: ['Happy', 'birthday!']

In [34]:
nested_list = [
    [1, 2, 3],
    ["apple", "banana", "cherry"],
    [True, False],
    [10.5, 20.1],
    [None]
]

print(nested_list)

[[1, 2, 3], ['apple', 'banana', 'cherry'], [True, False], [10.5, 20.1], [None]]