<a href="https://colab.research.google.com/github/poorvjeet/poorvjeet/blob/main/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# if statement
a = 23
b = 43

if b > a:
  print("b is greater than a")

b is greater than a

In [5]:
#if- else statement
a = 23
b = 43

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [6]:
#if-elif-else atatement
a = 23
b = 43

if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [7]:
#create and access tuple
my_tupple = ("apple", "banana", "cherry")
print(my_tupple[1])

banana

In [9]:
#Tuple with One Item

my_tuple = ("apple",)
print(type(my_tuple))

<class 'tuple'>

In [10]:
#Check if Item Exists in Tuple
my_tuple = ("apple", "banana", "cherry")
if "apple" in my_tuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [11]:
#Convert Tuple to List and Modify
my_tuple = ("apple", "banana", "cherry")
my_list = list(my_tuple)
my_list[1] = "kiwi"
my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'kiwi', 'cherry')

In [2]:
# add & remove item in set
my_set={"apple","banana","cherry"}

my_set.add("orange")

my_set.remove("banana")
print(my_set)

{'orange', 'apple', 'cherry'}

In [3]:
#Loop Through Tuple
my_tuple = ("apple", "banana", "cherry")
for x in my_tuple:
  print(x)

apple
banana
cherry